
@import url(''); 

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: rgb(180, 194, 221);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


header {
  background-color: rgb(112, 130, 164);
  height: 70px;
}

/*posicion del logo*/
.logo {
  float: left;
  padding: 1px;
  padding-left: 15px;
  padding-bottom: 200px;
  
}

.menu {
  float: right;
  margin: 24px;
}


.menu li{
  display: inline;
  list-style: none;
}


.menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 15px;
}


.banner {
  background-image: url(../assets/imagenes/thumb-1920-360890.jpg);
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.banner h1 {
    text-align: left;
    font-size: 80px;
    padding: 60px 20px;
  }

.container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
  }
  
  .card{
   
    width: 20%;
    background-color: rgb(195, 211, 243);;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;

  }
  
  .card img {
    width: 100%;
  }
  
  .card h3 {
    margin-top: 0;
    font-size: 30px ;
    text-align: center;
  }
  
  .card p {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: justify;
  }

  .toggle-btn {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
  }

  
  

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 100px 20px 100px;
  }


  @media only screen and (max-width: 809px) {
    .menu ul {
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      background-color: #333;
      padding: 10px;
      display: none;
    }
  
    .menu li {
      border-bottom: 1px solid #fff;
    }
  
    .menu li:last-child {
      border-bottom: none;
    }
  
    

    .banner{
        height: auto;
        padding-bottom: 100px;
        
    }

    .banner h1{
        
        font-size: 20px;
        text-align: left;
        padding-left: 0%;
        
    }
    .container{
    
        display: flex;
        flex-wrap:nowrap;
        justify-content:space-between;
      }

    .card p {
        margin-bottom: 10px;
        font-size: 20px;
        text-align:inherit;
      }

      .card h3 {
        margin-top: 0;
        font-size: 30px ;
        text-align: auto;
      }

      .toggle-btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    
      .menu input[type="checkbox"]:checked ~ ul {
        display: flex;
      }

  }

  @media only screen and (max-width: 490px) {

    .card h3 {
        margin-top: 0;
        font-size: 20px ;
        text-align: auto;
      }

      .card p {
        margin-bottom: 10px;
        font-size: 10px;
        text-align:inherit;
      }

      .banner{
        width:auto;
        height:auto;
        padding-bottom: 100px;
        
    }


  }

  @media only screen and (max-width: 400px) {

    .banner{
      width:auto;
      height:auto;
      padding-bottom: 100px;
      
  }

  }